h1,
h2,
h3 {
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    max-width: 1230px;
    margin: 0 auto;
}

.flex-container {
    display: flex;

}

.sidebar {
    padding: 10px;
    background-color: #44477C;
}

.main-content {}

.circle-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 260px;
    border: 5px solid #FFFFFD;
    border-radius: 50%;
    font-size: 150px;
    color: #FFFFFD;
}

.text-contacts {
    color: #FFFFFD;
    text-transform: uppercase;
}

.phone {
    color: #FFFFFD;
}

.web {
    color: #FFFFFD;
}

.email {
    color: #FFFFFD;
}

.text-languages {
    color: #FFFFFD;
    text-transform: uppercase;
}

.languages {
    color: #FFFFFD;
    text-transform: uppercase;
}

.name {
    color: #352B6A;
    font-size: 90px;
    text-transform: uppercase;
}

.vacancy {
    color: #A8AAD3;
    font-size: 40px;
}

.section-about-me {
    background-color: #A8ABD4;
    padding: 10px 50px 10px 100px;
    width: fit-content;
    border-radius: 0 10px 10px 0;
    color: #FFFFFD;
    font-size: 32px;
}